site_name: WhyDev
site_url: https://whydev.me/

theme:
  name: material
  language: vi
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.indexes
    - navigation.path
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.follow
    - toc.integrate
    - content.code.copy
    - search.suggest
    - search.highlight
    - search.share
  palette: 
    scheme: slate
    primary: black
    accent: green
  

plugins:
  - search
  - blog:
      blog_dir: 
      post_dir: blog/posts
      archive: true
      categories: true
      post_url_format: "{date}/{slug}"

nav:
  - "Trang chủ": index.md
  - Minevui Network: 
    - "Thông tin chung": minevui-network/thong-tin-chung/index.md
    - "Donate": minevui-network/thong-tin-chung/donate.md
    - "Mùa 10":
      - "Giới thiệu": minevui-network/s10/intro.md
    - "Hướng dẫn":
      - "Đăng nhập/Đăng ký": minevui-network/misc/auth.md
  - Minevui Optimized: 
    - minevui-optimized/index.md
  - Blog: 
    - blog/

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true