site_name: WhyDev
site_url: https://whydev.me/

theme:
  name: material
  language: vi
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.indexes
    - navigation.path
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.follow
    - toc.integrate
    - content.code.copy
    - search.suggest
    - search.highlight
    - search.share
  palette:
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Chuyển sang chế độ sáng
      primary: black
      accent: green
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Chuyển sang chế độ tối

plugins:
  - search
  - awesome-nav
  - blog:
      blog_dir: blog
      post_dir: blog/posts
      archive: true
      categories: true
      post_url_format: "{date}/{slug}"

nav:
  - "Trang chủ": index.md
  - Minevui Network: minevui-network/index.md
  - Minevui Optimized: minevui-optimized/index.md
  - Blog: blog/index.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

repo_url: https://github.com/lvdat/whydev-me-sites
repo_name: lvdat/whydev-me-sites